.box {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation: move 2s infinite alternate;
}

@keyframes move {
    from {
        left: -100px;
    }

    to {
        left: 100%;
    }
}

.pulse {
    margin-left: 50%;
    width: 100px;
    height: 100px;
    background-color: blue;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        background-color: blue;
    }

    50% {
        background-color: green;
    }

    100% {
        background-color: blue;
    }
}

.spin-grow {
    margin-left: 30%;
    width: 100px;
    height: 100px;
    background-color: purple;
    animation: spin 2s infinite linear, grow 2s infinite alternate;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes grow {
    from {
        width: 100px;
        height: 100px;
    }

    to {
        width: 200px;
        height: 200px;
    }
}